body{
    background: #222
;
}

.card{
    width: 90%;
    max-width: 400px;
    background: linear-gradient(135deg, #a2e7d4, #3a23d2);
    color: #ffffff;
    margin: 100px auto 0;
    border-radius: 20px;
    text-align: center;
    padding: 40px 35px;
}
.bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar input{
    border: 0;
    outline: 0;
    background: #c6dce8;
    color: #555;
    padding: 10px 10px;
    border-radius: 20px;
    height: 20px;
    flex: 1;
    margin-right: 20px;
    font-size: 16px;
}

.bar button{
    border: 0;
    outline: 0;
    background: #c6dce8;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.bar button img{
    width: 50px;
}

.weatherIcon{
    width: 160px;
    margin-top: 40px;
}

.weather h1{
    font-size: 80px;
    font-weight: 400;
    margin-top: 10px;
}

.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -60px;
}

.more{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}


.humidity, .wind{
    font-size: 28px;
    margin-top: 20px;
}

.humidity2, .wind2{
    font-size: 15px;
    margin-top: -25px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}